body {
    font-family: 'VT323';
    display: inline-grid;
    place-items: center;
    width: 100%;
  font-size: 30px;
}
img{
    max-width: 6rem;
}

.simon {
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
   
}

.buttonContainer {
   display: flex;
margin-top: 10px;
margin-left: 5px;
}

.button {
    border-radius: 55px;
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.button:active,
.active {
    box-shadow:0px 0px 20px white;;
}

.red {
    background-color: red;
}

.blue {
    background-color: #0c5e75;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

#startButton {
    width: 125px;
    height: 70px;
    position: relative;
    top: 10px;
    right: 10px;
    border: none;
    font-family: 'VT323';
    cursor: pointer;
    border-radius: 15px;
    color: #FFC0CB;
    background-color: #000000;
    padding: 5px;
    font-size: 25px;
}

#startButton:disabled {
    background-color: #eee;
}

#round{
    font-size: 50px;
}
.winner {
    animation: spin 1s ease-in-out;
}

@keyframes spin { 
    100% { transform:rotate(180deg) } }